@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
*::after*, *::after {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

input, label, span, input::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
}

input, label, span, input:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
}

input, label, span, input::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
}

input, label, span, input::placeholder {
  font-family: 'Roboto', sans-serif;
}

.roundify {
  border-radius: 10px;
}

.center-this {
  margin: auto !important;
}

.primary-color {
  background: #ffda08;
}

.seconday-color {
  background: this;
}

.accent-color {
  color: #1076f3 !important;
}

.accent-bg {
  background: #1076f3 !important;
}

.centering-body::before {
  background: url("https://cdn.dribbble.com/users/817791/screenshots/2589192/volthuman.png");
  background-position: center;
  background-size: cover;
  display: block;
  content: '';
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto !important;
  -webkit-filter: blur(22px);
          filter: blur(22px);
  -webkit-transform: scale(2);
          transform: scale(2);
}

.centering-body {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  background: none;
  overflow: hidden !important;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto !important;
  width: 100% !important;
  height: 100% !important;
}

.centering-body::after {
  display: block;
  content: '';
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto !important;
  background: #08216c;
  opacity: 0.5;
}

.custom-form::after {
  display: block;
  content: '';
  width: 100%;
  max-width: 100%;
  height: 100%;
  z-index: -1;
  background: white;
  opacity: 0.6;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  -webkit-transform: scale(2);
          transform: scale(2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto !important;
}

.custom-form {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(245, 245, 245, 0.394) !important;
  padding: 22px !important;
  margin: auto !important;
  width: 100%;
  height: 100%;
  max-width: 500px !important;
  max-height: 500px !important;
}

@media (max-width: 991px) {
  .custom-form {
    max-width: 100% !important;
    max-height: 100% !important;
    border-radius: 0 !important;
  }
}

.custom-form .custom-form-botton-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
  width: 100% !important;
}

.custom-form .custom-form-botton-actions .custom-form-submit {
  background: black;
  color: white;
  width: 90% !important;
  padding: 12px 22px;
  border: none;
  outline: none;
  font-size: 16px;
  margin: 25px auto;
  cursor: pointer;
  display: block;
}

.custom-form .custom-form-botton-actions .custom-form-redirect-link {
  display: block;
  text-align: center !important;
  width: 90% !important;
  margin: 25px auto !important;
}

.field-wrapper {
  min-width: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  margin: auto auto 25px auto;
  position: relative;
  height: 50px;
  overflow: hidden !important;
}

.field-wrapper label {
  width: 100% !important;
  height: 100%;
  display: block !important;
  text-align: left !important;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none !important;
  border-bottom: solid 2px #333 !important;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}

.field-wrapper label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  bottom: 5px;
  left: 0;
  font-size: 14px;
  -webkit-transition: all 0.5s ease-in-out !important;
  transition: all 0.5s ease-in-out !important;
}

.field-wrapper label span i {
  margin: auto auto auto 0;
  padding: 0 5px 0 0;
  font-weight: 500;
  font-size: 16px !important;
}

.field-wrapper label span p {
  margin: auto auto auto 0;
  width: 100%;
  font-weight: 500;
  font-size: inherit !important;
}

.field-wrapper input {
  width: 100% !important;
  height: 100% !important;
  padding: 20px 5px 0 5px !important;
  margin: 0 !important;
  display: block;
  background: none !important;
  outline: none !important;
  border: none !important;
}

.field-wrapper input:focus + label > span, .field-wrapper input:valid + label > span {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: 12px !important;
}

.img-uploader-input::-webkit-file-upload-button {
  display: none;
}

.img-uploader-input::before {
  content: 'selecciona una imagen' !important;
  display: block;
  -ms-flex-item-align: middle !important;
      -ms-grid-row-align: middle !important;
      align-self: middle !important;
  margin: auto !important;
  background: white;
  border: solid 0.5px rgba(0, 0, 0, 0.3);
  border-radius: 22px;
  padding: 7px;
  outline: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 70;
}
/*# sourceMappingURL=style.css.map */